

/*Import your fonts above this line*/

/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli',sans-serif;
  text-align: center;
  margin: 0;
  letter-spacing: .02em;
}

.about-section {
	display: grid;
	grid-template-columns: 3fr 6fr 1fr;
	grid-column-gap: 25px;
	width: 80%;
	margin: 29px auto;
	text-align: left;
}

.hello-section {
	width: 100%;
	margin: 25px auto 0px auto;
	text-align: center;
	background-color: teal;
	padding: 0px 25px 75px 25px;

  }

.sayhello p{
  font-size: 16px;
  color: black;

}
.about-section p {
	font-size: 1.1em;
}


.about-section h2 {
	padding-top: 15px;
  text-align: left;
}

.about-section img {
	max-width: 100%;
}

.fa {
	display: block;
	font-size: 1.5em;
	padding-top: 10px;
}

.scale-with-grid {
    max-width: 100%;
    height: auto;
}
  /* Responsive images */
img {
  max-width: 100%;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 44px;
    padding-top: 15px;
    max-width: 80%;
    margin: 0 auto;
}

.leadtitles {
  line-height: 0;
  text-align: center;
  margin-top:
}

.social-links {
	border-left: solid 1px #333;
	padding-left: 20px;
	padding-top: 60px;
}

/* ----------------------------------------
Header
------------------------------------------- */
header {
  height: 70vh;
  padding: 100px 1%;
  background: url(../images/work/radio.jpg);
  /*background: url("https://i.pinimg.com/originals/62/e0/76/62e0769918eeaf9e81a461c5a3404746.jpg");*/
  background-size: cover;
  /*background-color: teal;*/
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  }


h1 {
  font-weight: 800;
  text-align: right;
  font-family: 'Brawler', serif;
  color: #76949F;
  font-size: 65px;
}

h2{
  font-size: 30px;
  padding-top:50px;
}

h3 {
  margin-top: 60px;
  padding: 5px;
}


nav{
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.33);
  /*height: 90px;*/
}

.space-right {
  margin-right: 50px;
}

header a {
  color: white;
}

main a {
  font-size: 18px;
  font-family:'Brawler', serif;
  color: white;
}



/*================================================
NAV STYLES HERE!!!!!!!
================================================*/
nav ul {
  margin: 0;
  padding: 0;
}

nav li{
  display: inline-block;
}

.hamburger {
  display: none;
}

.close {
  display: none;
  }


.ziggy {
	background: url(../images/work/zigzag-up.png) repeat-x;
	height: 16px;
	width: 100%;
	position: relative;
	top: -16px;
}

.ziggy-t {
  background: url(../images/work/zigzag-up.png) repeat-x;
  height: 16px;
  width: 100%;
  position: relative;
  top: 32px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


/* ----------------------------------------
Typography
------------------------------------------- */
a {
  	text-decoration: none;
    line-height: 90px;
  	font-weight: 900;
  	-webkit-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
    color: #000000;
    text-transform: uppercase;
    font-size: 21px;
  }
  p {
  	font-family: 'Muli', sans-serif;
    font-size: 14px;
  	text-transform: none;
  	line-height: 1.4;

  }
  a:hover {
  	color: #76949F;
  }

  /* ----------------------------------------
  Layout
  ------------------------------------------- */
.overlay-wrapper {
  position: relative;
  width: 250px;
  height: 340px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 55%;
  background-color: rgba(41, 38, 38, 0.74);
  top: 0px;
  opacity: 0;
  font-size: 14px;
}

.overlay:hover {
opacity: .8;
}

  /* ----------------------------------------
  Footer
  ------------------------------------------- */

  footer {
	background-color: #000000;
  padding: 1px 1px 1px 1px;
}

footer p {
  color: teal;
}


@media screen and (max-width:882px) {
  main{
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
  }

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    padding-left: 25px;
    margin-left: 0;
  }

  nav {
    text-align: left;
  }

  .nav-links li {
    display: block;
    height:72px;
    border-bottom: 4px solid rgba(21,20,20,0.2)
  }

  nav ul a {
    line-height:110px;
    font-size: 14px;
    padding: 25px;
  }

}
@media screen and (max-width:630px) {
  main{
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 30px;
  }

.envelope {
  width: 20%;
}
  .overlay-wrapper {
  width: 100%;

  }
.overlay {
  height: 68%;
}

.about-section{
  grid-template-columns: 1fr;
}
.fa {
  display: inline-block;
}




/* ----------------------------------------
Add your own comments for organization!
------------------------------------------- */
