

/*Import your fonts above this line*/

/* ----------------------------------------
Base Styles
------------------------------------------- */

html {
position: relative;
min-height: 100%;
}

body {
background-color: #827466;
margin: 0px;
padding: 0px;
min-height: 100%;
}

.placeholder {
margin:50px auto;
text-align: center;
}

.placeholder img {
max-width: 525px;
}

img {
  max-width: 100%;
  margin-top: 50px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
}

.full-width {
background-color: #6f5b48;
max-width: 100%;
padding: 5px;
margin-bottom: 15px;
}

/* ----------------------------------------
Navigation styles
------------------------------------------- */


/* ----------------------------------------
Footer
------------------------------------------- */






.social_icons a {
    color: white;
}

.social_icons {
  font-size: 15px;
  text-align: center;
  height: 100px;
  margin-bottom: 100px;
}

.social_icons a {
  margin: 20px;
}


/* ----------------------------------------
Button
------------------------------------------- */
.header-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #59BB7F;
  color: #fff;
  border: 2px solid #5b4a42;
  /* border-radius: 21px; */
  padding: 8px 24px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 35px auto;
}



.header-button:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 24px;
}

.white-button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 10px 0 10px 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.white-button:hover {
  background-color: #FFF;
  color: #F87B5E;
  border: 2px solid #FFF;
  padding: 8px 24px;
  margin: 10px 0 10px 0;
}
.coral-button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #F87B5E;
  color: #FFF;
  border: 2px solid #F87B5E;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 10px 0 10px 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.coral-button:hover {
  background-color: transparent;
  color: #F87B5E;
  border: 2px solid #F87B5E;
  padding: 8px 24px;
  margin: 10px 0 10px 0;
}
/* ----------------------------------------
Modal Styles
------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  position: relative;
  padding: 30px;
  border: 1px solid #66666C;
  border-radius: 4px;
  width: 60%; /* Could be more or less, depending on screen size */
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  transition: all 1s ease-in-out;
}

.modal-thanks {
  display: none;
  padding: 100px;
  transition: all 1s ease-in-out;
}

form {
  padding: 10px;
}

input {
  display: inline-block;
  text-align: center;
  padding: 8px;
}

input, textarea {
  /*update border, padding, font-size, display*/
  border: .5px solid #66666C;
  background-color: #EDEDF0;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  text-align: left;
  margin: 10px;
}
/* The Close Button */
.close {
  color: #66666C;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #66666C;
  text-decoration: none;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 30px 0 30px 0;
  color: #5c5b5e;
  font-family: 'Helvetica Regular';
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

}
/* ----------------------------------------
Responsive Design
  ------------------------------------------- */

@media screen and (max-width:600px) {
  .placeholder img {
    max-width: 425px;
  }

  @media screen and (max-width: 450px){
    .placeholder img {
      max-width: 325px;
    }

}
